* {
  box-sizing: border-box;

}
body{
	background: url('https://wallpaperplay.com/walls/full/e/2/c/378514.jpg');
	background-repeat: no-repeat;
}
.menu h1{
	font-size: 24px;
	font-family: cursive;
	color:#848ccf;
	text-align: center;
}

h1 {
	font-size: 35px;
	font-family: Georgia serif;
	text-align: center;
	color: black;
	margin-bottom: 30px;
}

p {
	display: block;
	padding: 15px 5px 0px 5px;
	font-family: Georgia sans-serif;
	font-size: 16px;
	position: relative;
}
.menu{
	width: 100%;
	//background-color: cornflowerblue;
	height: 50px;
	
}

.main-container {
	width: 100%;		
}

.container {
	background-color: azure;
   	border: 1px solid #848ccf;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	padding: 3px;
   	text-align: justify;
   	position: relative;
	overflow: none;
}

span {
	height: 35px;
	font-size: 20px;
	width: 150px;
	border: 1px solid #848ccf;
	border-top: 0px;
	border-right: 0px;
	font-weight: bold;
	text-align: center;
	float: right; top :0; right: 0; margin: 0;
	position: absolute;
}

#c_1 {
	background-color:#9dbef5;
	color: black;
}
#c_2 {
	background-color:#ff6757 ;
	color: white;
}
#c_3 {
	background-color:#e580ff;
	color: black;
}

@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

/* Tablet PC view */
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
	
}
/* Cell phone view */
@media (max-width: 767px){
	
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}
